@import 'fonts.css';

body{
    font-family: "Open Sans Regular";
}
header{
    background-color: #111111;
}

ul, li{
    display: block;
    margin: 0;
    padding: 0;
}
.menu__item a{
    
    font-size: 14px;
    color: #ffffff;
    margin-left: 37px;
    
    
}
.menu__item a:hover{
    text-decoration: none;
    color: inherit;
    padding-bottom: 9px;
    border-bottom: 3px solid #fcac45;
}
.menu-bar{
    padding-top: 20px;
    font-family: 'Open Sans Bold';
    color: #ffffff;
    background-color: #111111;
    
}
.logo{
    font-size: 24px;
}
.header{
    padding-top: 190px;
    padding-bottom: 410px;
}
.header div{
    background: #111111;
    text-align: center;
    
}
.header__title{
    text-transform: uppercase;
    font-size: 44px;
    color: #fcac45;
    
}
.header__title span{
    color: #999999;
    font-family: "Open Sans Light";
}
.header__text{
    font-size: 20px;
    color: #ffffff;
}
.header__text span{
    font-family: "Open Sans Bold";
}
.site{
    text-align: center;
}
.about{
    
    padding-top: 100px;
    text-align: left;
    padding-bottom: 100px;
}
.about__title{
    font-family: "Open Sans Regular";
    padding-bottom: 9px;
    border-bottom: 3px solid #fcac45;
    display: inline-block;
    font-size: 34px;
}
.about__title span{
    font-family: "Open Sans Bold";
    
}
.about__text{
    padding-top: 30px;
    padding-bottom: 45px;
}
.about__small{
    padding-bottom: 15px;
    margin: 0;
}
.our_team{
    background-color: #010101;
    color: #FFFFFF;
    padding: 7em 0 12em 0;
}
.our_team__img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.our_team__elements{
    text-align: center;
}
.our_team__title{
    margin-bottom: 100px;
}
.our_team__name{
    padding: 0;
    margin: 0.75em 0 0 0;
}
.our_team__prof{
    margin: 0 0 1em 0;
}